 /* Stile per il footer */
 footer {
    background-color: #4DB6AC;
    padding: 20px;
    font-size: 20px;
  }
  footer a{
    text-decoration: none;
    color: rgb(244, 244, 30);
  }
  footer a:hover{
    color: rgb(244, 244, 30);
  }
  .footer-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  p{
    color: black;
    margin: 1rem;
  }

 