<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-list role="list">
        <!-- <mat-list-item role="listitem" routerLink="homepage" [routerLinkActive]="'active'">HomePage</mat-list-item> -->
        <!-- <mat-list-item role="listitem" routerLink="secondpage" [routerLinkActive]="'active'">SecondPage</mat-list-item> -->
        <!-- <mat-list-item role="listitem" routerLink="thirdpage" [routerLinkActive]="'active'" >ThirdPage</mat-list-item> -->
      </mat-list>          
    </mat-sidenav>
    <mat-sidenav-content>
        
          
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  